h1, h2, h3, h4, h5, p, a, ul, li, span, label, input, table, textarea, select, button, div {
    font-family: 'Open Sans', sans-serif!important;
}
.content table {
    background-color: white;
}
.content table th,
.content table td {
    border: none!important;
    padding: 7px 10px;
}
.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

table.dataTable tbody td.select-checkbox::before,
table.dataTable tbody td.select-checkbox::after,
table.dataTable tbody th.select-checkbox::before,
table.dataTable tbody th.select-checkbox::after {
    top: 50%;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    width: 100%;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-size: 18px;
    padding-left:10px;
    font-weight: bold;
}
.searchable-fields {
    padding-left:10px;
}
.select2-results__message {
    padding: 10px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
    color: inherit;
}
.logo {
    width: 40px;
    height: auto;
}
.searchbar {
    padding-bottom: 20px;
}
.bg-native,
.c-sidebar .c-sidebar-nav-link,
.c-sidebar .c-sidebar-nav-dropdown-toggle {
    background-color: #3c4b64;
}
.c-sidebar .c-sidebar-nav-link:hover,
.c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    background: rgba(255,255,255,.05);
}
.bg-native:hover {
    background-color: #3c4b64;
    opacity: 0.9;
}
.content a {
    text-decoration: none;
}
.btn-primary {
    color: #fff!important;
    background-color: #3c4b64!important;
    border-color: #3c4b64!important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #c8552b!important;
    color: #ffffff!important;
    border-color: #c8552b!important;
    box-shadow: 0 0 0 0.2rem rgb(224 107 65 / 50%)!important;
}
.btn-warning {
    color: #ffffff;
}
.btn-link,
.page-link {
    color: #3c4b64!important;
}
.btn-link:hover,
.page-link:hover {
    color: #2c3544!important;
    background-color: transparent!important;
}
.btn-primary.disabled {
    background-color: #c7c7c7;
    border-color: #c7c7c7;
    color: #000000;
}
.form-control:focus {
    color: #768192;
    background-color: #fff;
    border-color: #3c4b64;
    outline: 0;
    box-shadow:0 0 0 0.2rem rgb(80 71 160 / 25%);
}
.c-sidebar-nav-dropdown-items > li a {
    background-color: #2c3544!important;
}
div.dataTables_wrapper div.dataTables_length select {
    min-width: 60px;
    line-height: 1.8;
    margin-right: 5px;
}
div.dataTables_wrapper div.dataTables_length label {
    padding: 5px 0;
}
.dataTables_length {
    margin-right: 5px;
}
table td .btn-xs,
table td form {
    width: 100%;
}
.dt-button-collection a {
    border-color: black;
    width: 100%;
    margin-bottom: 5px;
    display: block;
}